<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<div class = "container">

<h1>COVID-19 Tracker Application</h1>
<!--<p>Covid-19 reported cases across the globe</p>-->

<!--<div class="p-5 mb-4 bg-light rounded-3">-->
    <div class="bg-info p-2 text-dark bg-opacity-10">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" th:text="${totalReportedCases}"></h1>
        <p class="col-md-8 fs-4">Total cases reported today</p>
    </div>
</div>

    <table class="table table-striped">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases</th>
            <th>+ 24 hrs</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}"></td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>

</div>

<p></p>
<p>Source: Center for Systems Science and Engineering (CSSE) at Johns Hopkins University </p>

</body>

</html>